################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Delegates/.vs
/LINQ/.vs/LINQ
/LINQ/obj
